@namespace xml3d "http://www.xml3d.org/2009/xml3d";

* {
    padding: 0;
    margin: 0;
}

xml3d|float,
xml3d|float2,
xml3d|float3,
xml3d|float4,
xml3d|float4x4,
xml3d|int,
xml3d|int4,
xml3d|bool,
xml3d|script {
    display: none;
}

body {
    font-family: 'Helevtica Neue', Helvetica, Arial, sans-serif;
    color: #555;
}

xml3d {
    width: 320px;
    height: 240px;
}

a {
    color: #365DA0;
}

a:hover {
    color: #466DE0;
}

iframe {
    border: 0;
}

/* CONTENT */

#content {
    position: absolute;
    border: 1px solid #000;
    padding: 16px 24px;
    top: 8px;
    right: 8px;
    bottom: 73px;
    left: 8px;
}



#content .xml3d {
    display: block;
    border: 1px solid #aaa;
    margin: 16px auto;

}

div#renderArea {
    position: relative;
    min-width: 340px;
    min-height:180px;
    height: auto;
    width: auto;
    border: solid 1px #ccc;

}

#background {
    height:auto;
    width:50%;
}


div#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
}

div#infoPanel {
    text-align: center;
    height: 20px;
}

div#buttons {
    text-align: center;
    margin: 5px;
}

div#log {
    border-top: solid 1px #000;
    position: relative;
    height: 60px;
    width: 100%;
    overflow-y: auto;
    background-color: #F9F9F9;
}